.home-container {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgb(147, 128, 255)), url(./pictures/landing.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90vh; /* Set the height of the container to fill the viewport */
  position: fixed;
}

.mascot-img {
  width: 50%; /* Set the width of the mascot image container */
  text-align: center; /* Align text horizontally */
  margin: auto; /* Center the container horizontally */
  display: flex; /* Use flexbox for the container */
  align-items: center; /* Center items vertically within the container */
  flex-direction: column; /* Arrange items vertically */
}

.mascot-img h2,
.mascot-img p {
  margin: 10px; /* Add margin for spacing */
}
.mascot-img h2 {
  margin-top: 5vh;
}

.mascot-img img {
  max-width: 100%; /* Ensure the image does not exceed the container's width */
  max-height: 100%; /* Ensure the image does not exceed the container's height */
}
