.home-container {
  margin: 6vh auto 0 auto;
  width: 95%;
  height: 100%;
  align-self: center;
  background-color: blanchedalmond;
}

.home-img {
  height: 90vh;
  background-color: pink;
  margin: auto;
}

.table-container {
  text-align: center;
  padding: 20px;
  /* Adjust padding as needed */
}

.box,
.checklist {
  display: inline-block;
  position: relative;
  perspective: 1000px;
  margin: 10px;
  /* Adjust margin as needed */
}

.box-image,
.checklist-image {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease-in;
}

.box:hover .box-image {
  transform: translateY(-40px);
}

.checklist-image {
  transform: rotate3d(1, 0.7, -1.4, 90deg) scale(0.7);
  transition: transform 0.7s ease-in-out;
}

.checklist:hover .checklist-image {
  transform: rotate3d(1, 0, 0, 0deg) scale(1.2);
}
