.tools-container {
    height: 150vh; 
    background-image: url(./pictures/navpage.png);
    position: relative;
    background-repeat: no-repeat;
  }
  
  
  .text-box {
    position: absolute;
    width: 50vh;
    height: 30vh;
    padding: 0 1vh 0 1vh;
    border: 2px groove black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.616);
    top: 5vh;
    left: 5vh;
  }
  
  .dorm1 {
    position: absolute;
    width: 25vh;
    height: 25vh;
    padding: 2vh 3vh 5vh 3vh;
    border: 2px groove black;
    border-radius: 10px;
    background-image: url(./pictures/dorm1.png);
    background-size: cover;
    background-position: center;
    top: 15vh;
    right: 5vh;
  }
  
  .dorm2 {
    position: absolute;
    width: 25vh;
    height: 25vh;
    padding: 2vh 3vh 5vh 3vh;
    border: 2px groove black;
    border-radius: 10px;
    background-image: url(./pictures/dorm2.png);
    background-size: cover;
    background-position: center;
    top: 50vh;
    right: 5vh;
  }
  
  .dorm3 {
    position: absolute;
    width: 25vh;
    height: 25vh;
    padding: 2vh 3vh 5vh 3vh;
    border: 2px groove black;
    border-radius: 10px;
    background-image: url(./pictures/dorm3.png);
    background-size: cover;
    background-position: center;
    top: 15vh;
    right: 40vh;
  }
  
  .text-box p {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0vh;
  }
  
  .text-box ul {
    font-size: 20px;
    list-style: circle;
    margin-left: 5vh;
  }
  
  .box-image {
    scale: 2;
    margin-left: 90vh; /*box moves horiz*/
    margin-bottom: -40vh; /*checklist moves vert*/
  }
  
  .checklist-image {
    scale: 2;
    margin-left: 55vh; 
    margin-top: 50vh; 
  }
  
  
  .box-image,
  .checklist-image {
    width: 400px;
    height: auto;
    transition: transform 0.3s ease-in;
    cursor: pointer;

  }
  
  .box-image:hover {
    transform: translateY(-5vh) scale(1.1);
  }
  
  .checklist-image:hover {
    transform: translateY(-5vh) scale(1.1) rotate(-10deg);
  }