/* Navbar.css */
.Navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito";
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 3vh 2vh 0vh 2vh;
  height: 3vh;
  margin-bottom: 5vh;
  background-color: transparent;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  margin-left: 4vh;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right a {
  padding: 2vh 3vh 2vh 3vh;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.link :hover {
  background-color: rgba(143, 143, 143, 0.611);
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.DropdownContent {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 2vh;
  border-radius: 5px;
  right: 0;
  background-color: white;
}

.DropdownContent a {
  text-decoration: none;
  display: block;
}
