/* Navbar.css */
.Navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito";
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 3vh 2vh 2vh 2vh;
  height: 3vh;
  margin-bottom: 5vh;
  background-color: transparent;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  margin-left: 4vh;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right a {
  padding: 2vh 3vh 2vh 3vh;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.link:hover {
  background-color: #ccc;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.DropdownContent {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 2vh;
  border-radius: 5px;
  right: 0;
  background-color: white;
  z-index: 2;
}

.DropdownContent a {
  text-decoration: none;
  display: block;
}

.PopupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.loginstuff {
  padding: 0 2vh 2vh 0vh;
}

.loginstuff img {
  cursor: pointer;
  margin-top: -1.5vh;
  margin-bottom: 0vh;
}

.loginstuff img:hover {
  transform: scale(115%);
}

.Dropdown:hover .Dropdown2 {
  display: block;
}

.Dropdown2 {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  right: 0;
  background-color: white;
  z-index: 2;
  font-size: 20px;
}

.loginstuff img {
  margin-left: 2vh;
}

.Dropdown2 a {
  text-decoration: none;
  display: block;
}
.Dropdown2 p {
  margin: 0 1vh 0 1vh;
}

.userinfo {
  margin-top: 1vh;
}

.logout-btn {
  border: 2px solid black;
  font-family: "Nunito";
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
  padding: 1vh;
  border-radius: 10px;
  margin: 2vh 2vh 2vh 6vh;
}

.logout-btn:hover {
  transform: scale(110%);
}
